<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CurbWheel</title>
    <!-- <link rel="stylesheet" href="bulma.min.css"> -->
    <link rel="stylesheet" href="static/basics.css">
    <link rel="stylesheet" href="static/style.css">
    <script src='static/mapbox-gl.js'></script>
    <link href='static/mapbox-gl.css' rel='stylesheet' />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
    <body class='is-mobile'>
    <section class="" id='topBar'>
      <span class="icon fl m20" onclick='app.ui.back()'>
        <i class="fas fa-arrow-left"></i>
      </span>

      <div class='big' id='title'>Select a Street</div>
    </section>
    <div id='modes'>
      <div id='map' class='mode big'>
        <script>
          let bounds = {{bounds}}
        </script>
      </div>
      <div id='rolling' class='mode'>
        <div id='curbEntry'>
          <div class='entry'>
            <span>Current block</span>
            <div class='progressBar'>
              <div class='bar'></div>
            </div>

            <span class='small quiet'>
              <span id='blockProgress'>0</span>m of ~
              <span id='curbLength'></span>m
            </span> 
          </div>
        </div>
        <div class='scroll-drawer'>
          <form ref='uploadForm' id='uploadForm' class='hidden' action='/photo' method='post' target="hiddenIframe" encType="multipart/form-data">
            <input id='uploadImg' name='image' type="file" accept="image/*" capture="environment">
            <input type='submit' id ='imageSubmit' value='Upload!' />
          </form>
          <iframe name="hiddenIframe" class='hidden'></iframe>

          <div id='zones'></div>

          <div class='text-center mt20 mb200'>
            <p class='big' onclick='app.ui.mode.set("addZone")'>
              <span class="icon blue mr10 inlineBlock" style='transform: scale(1.5)'>
                <i class="fas fa-plus-circle"></i>
              </span>
              Add a new curb zone
            </p>
          </div>
        </div>
        <div id='complete' class='bottomButton' onclick='alert("(This completes the survey, will take user back to map for next survey)"); app.io.uploadSurvey()'>Complete</div>
      </div>
      <div id='addZone' class='mode'>
      </div>
    </div>
    </body>
  <script src="static/d3.v4.js"></script>
  <script src='static/app.js'></script>
  <script src='static/turf.min.js'></script>
  <script src='static/map.js'></script>

</html>