* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility; 
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    box-sizing: inherit;
    font-weight: 400;
    line-height: 1.5;
    color:#4a4a4a;
	font-family:BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*utility classes*/
.big {
	font-size: 1.25em;
}
.small {
	font-size:0.85em;
}

.blue {
	color:steelblue;
}

.quiet {
	opacity:0.5;
}

.fl {
	float:left;
}

.fr {
	float:right;
}

.text-center {
	text-align: center
}
/*margins*/

.m10 {
	margin:10px;
}

.m20 {
	margin:20px;
}
.mt5 {
	margin-top:5px;
}

.mt10 {
	margin-top:10px;
}

.mt20 {
	margin-top:20px;
}

.mt30 {
	margin-top:30px;
}

.mt40 {
	margin-top:40px;
}

.mt50 {
	margin-top:50px;
}

.mt100 {
	margin-top:100px;
}

.mt200 {
	margin-top:200px;
}

.mb30 {
	margin-bottom: 30px
}

.mb200 {
	margin-bottom:200px;
}

.mr10 {
	margin-right: 10px
}

.mr20 {
	margin-right: 20px
}

.inlineBlock {
	display: inline-block;
}
/* columns */

.col3{
	width:25%;
	flex:none;
}

.col4{
	width:33.333333333%;
	flex:none;
}

.col6{
	width:50%;
	flex:none;
}